# Q. Design a comprehensive application that offers CRUD (Create, Read, Update, Delete) functionality for managing employee records. Users can add new employees, update existing employee details, delete employees, and view a list of all employees. Additionally, incorporate features like sorting and filtering based on department, salary, or other criteria.

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.33)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [1]:
import mysql.connector

In [22]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ems"
)


def employee_all():
    cursor = mydb.cursor()
    query = 'SELECT * FROM employee'
    cursor.execute(query)
    result = cursor.fetchall()
    if result:
        print("\nEmployee Details:")
        print("-----------------")
        for row in result:
            print("Employee Id: ", row[0])
            print("Employee Name:", row[1])
            print("Salary:", row[2])
            print("Department:", row[3])
            print("------------------------\n")
    else:
        print("\nNo employees found\n")
    cursor.close()
    

def employee_insert(id1, name1,salary1, dept1):
    cursor = mydb.cursor()
    query = 'INSERT INTO employee (emp_id, emp_name, emp_salary, emp_dept) VALUES (%s, %s, %s, %s)'
    values = (id1, name1,salary1, dept1)
    cursor.execute(query, values)
    result = cursor.fetchall()
    print('\nSuccessfully Inserted\n')
    

    
def employee_read(read_1):
    cursor = mydb.cursor()
    query = 'SELECT * FROM employee WHERE emp_id LIKE %s'
    values = (read_1,)
    cursor.execute(query,values)
    result = cursor.fetchall()
    if result:
        print('\nEmployee Details:')
        print('-----------------')
        for row in result:
            print('Employee Id: ', row[0])
            print('Employee Name:', row[1])
            print('Salary:', row[2])
            print('Department:', row[3])
            print('------------------------\n')
    else:
        print('\nNo matching employees found\n')
    cursor.close()

    
    
def employee_update(upsalary1, upid1):
    cursor = mydb.cursor()
    query = 'UPDATE employee SET emp_salary = %s where emp_id LIKE %s'
    values = (upsalary1, upid1)
    cursor.execute(query, values)
    result = cursor.fetchall()
    print('\nUpdated Successfull\n')
    
    
    
def employee_delete(dele_id1):
    cursor = mydb.cursor()
    query = 'DELETE FROM employee where emp_id LIKE %s'
    values = (dele_id1,)
    cursor.execute(query, values)
    result = cursor.fetchall()
    print('\nDeleted Successfull\n')
    
    
def employee_sort(sort1):
    cursor = mydb.cursor()
    
    if sort1 == 'id':
        query = 'SELECT * FROM employee ORDER BY emp_id'
    elif sort1 == 'name':
        query = 'SELECT * FROM employee ORDER BY emp_name'
    elif sort1 == 'salary':
        query = 'SELECT * FROM employee ORDER BY emp_salary'
    elif sort1 == 'dept':
        query = 'SELECT * FROM employee ORDER BY emp_dept'
    else:
        print('\nInvalid Column Name!\n')
        return
    
    cursor.execute(query)
    result = cursor.fetchall()
    if result:
        print('\nEmployee Details:')
        print('-----------------')
        for row in result:
            print('Employee Id:', row[0])
            print('Employee Name:', row[1])
            print('Salary:', row[2])
            print('Department:', row[3])
            print('------------------------\n')
    else:
        print('\nNo matching found\n')
    cursor.close()
    
    
    
def employee_filter(filter1):
    cursor = mydb.cursor()
    query = 'SELECT * FROM employee WHERE emp_dept = %s'
    values = (filter1,)
    cursor.execute(query, values)
    result = cursor.fetchall()
    if result:
        print('\nFiltered Employee Details:')
        print('---------------------------')
        for row in result:
            print('Employee Id: ', row[0])
            print('Employee Name:', row[1])
            print('Salary:', row[2])
            print('Department:', row[3])
            print('------------------------\n')
    else:
        print('\nNo matching employees found\n')
    cursor.close()



if __name__ == '__main__':
    
    while True:
        print('Employee Management System')
        print('--------------------------')
        print('1. Show all Employee')
        print('2. Employee Create')
        print('3. Employee Read')
        print('4. Employee Update')
        print('5. Employee Delete')
        print('6. Employee Sort')
        print('7. Employee Filter')
        print('8. Exit')
        
        sewy = int (input('\nEnter your Choice: '))
        
        
        if sewy == 1:
            employee_all()
        
        elif sewy == 2:
            id_2 = int(input('Enter id: '))
            name_2 = input('Enter name: ')
            salary_2 = float(input('Enter salary" '))
            dept_2 = input('Enter department: ')
            employee_insert(id_2, name_2, salary_2, dept_2)
        
        elif sewy == 3:
            read_2 = int(input('Enter ID to Read: '))
            employee_read(read_2)
        
        elif sewy == 4:
            up_id2 = int(input('Enter id to Update: '))
            up_sal2 = float(input('Enter Salary to update: '))
            employee_update(up_sal2, up_id2)
        
        elif sewy == 5:
            dele_id2 = input('Enter ID to Delete: ')
            employee_delete(dele_id2)
        
        elif sewy == 6:
            sort2 = input('Enter Column(id, name, salary, dept) to Sort: ')
            employee_sort(sort2)
            
        elif sewy == 7:
            filter2 = input('Enter Department(IT,HR,ER) to Filter: ')
            employee_filter(filter2)
            
            
        elif sewy == 8:
            break
        
        else:
            print('\nInvalid choice. Please try again \n')
    mydb.close()

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 1

Employee Details:
-----------------
Employee Id:  1
Employee Name: John Doe
Salary: 50000.00
Department: IT
------------------------

Employee Id:  2
Employee Name: Joanna
Salary: 60000.00
Department: HR
------------------------

Employee Id:  3
Employee Name: Dona Babu
Salary: 40000.00
Department: HR
------------------------

Employee Id:  4
Employee Name: Jim Jacod
Salary: 45000.00
Department: HR
------------------------

Employee Id:  5
Employee Name: Maria Francis
Salary: 20000.00
Department: ER
------------------------

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 2
Enter id: 6
Enter name: Aflah
Enter salary" 55000
Enter department: IT

Successfully Inserted

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 1

Employee Details:
-----------------
Employee Id:  1
Employee Name: John Doe
Salary: 50000.00
Department: IT
------------------------

Employee Id:  2
Employee Name: Joanna
Salary: 60000.00
Department: HR
------------------------

Employee Id:  3
Employee Name: Dona Babu
Salary: 40000.00
Department: HR
------------------------

Employee Id:  4
Employee Name: Jim Jacod
Salary: 45000.00
Department: HR
------------------------

Employee Id:  5
Employee Name: Maria Francis
Salary: 20000.00
Department: ER
------------------------

Employee Id:  6
Employee Name: Aflah
Salary: 55000.00
Department: IT
------------------------

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 3
Enter ID to Read: 6

Employee Details:
-----------------
Employee Id:  6
Employee Name: Aflah
Salary: 55000.00
Department: IT
------------------------

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 4
Enter id to Update: 6
Enter Salary to update: 60000

Updated Successfull

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 1

Employee Details:
-----------------
Employee Id:  1
Employee Name: John Doe
Salary: 50000.00
Department: IT
------------------------

Employee Id:  2
Employee Name: Joanna
Salary: 60000.00
Department: HR
------------------------

Employee Id:  3
Employee Name: Dona Babu
Salary: 40000.00
Department: HR
------------------------

Employee Id:  4
Employee Name: Jim Jacod
Salary: 45000.00
Department: HR
------------------------

Employee Id:  5
Employee Name: Maria Francis
Salary: 20000.00
Department: ER
------------------------

Employee Id:  6
Employee Name: Aflah
Salary: 60000.00
Department: IT
------------------------

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 5
Enter ID to Delete: 6

Deleted Successfull

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 1

Employee Details:
-----------------
Employee Id:  1
Employee Name: John Doe
Salary: 50000.00
Department: IT
------------------------

Employee Id:  2
Employee Name: Joanna
Salary: 60000.00
Department: HR
------------------------

Employee Id:  3
Employee Name: Dona Babu
Salary: 40000.00
Department: HR
------------------------

Employee Id:  4
Employee Name: Jim Jacod
Salary: 45000.00
Department: HR
------------------------

Employee Id:  5
Employee Name: Maria Francis
Salary: 20000.00
Department: ER
------------------------

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 6
Enter Column(id, name, salary, dept) to Sort: salary

Employee Details:
-----------------
Employee Id: 5
Employee Name: Maria Francis
Salary: 20000.00
Department: ER
------------------------

Employee Id: 3
Employee Name: Dona Babu
Salary: 40000.00
Department: HR
------------------------

Employee Id: 4
Employee Name: Jim Jacod
Salary: 45000.00
Department: HR
------------------------

Employee Id: 1
Employee Name: John Doe
Salary: 50000.00
Department: IT
------------------------

Employee Id: 2
Employee Name: Joanna
Salary: 60000.00
Department: HR
------------------------

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 7
Enter Department(IT,HR,ER) to Filter: HR

Filtered Employee Details:
---------------------------
Employee Id:  2
Employee Name: Joanna
Salary: 60000.00
Department: HR
------------------------

Employee Id:  3
Employee Name: Dona Babu
Salary: 40000.00
Department: HR
------------------------

Employee Id:  4
Employee Name: Jim Jacod
Salary: 45000.00
Department: HR
------------------------

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 9

Invalid choice. Please try again

Employee Management System
--------------------------
1. Show all Employee
2. Employee Create
3. Employee Read
4. Employee Update
5. Employee Delete
6. Employee Sort
7. Employee Filter
8. Exit

Enter your Choice: 8