Q1. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

Sample input: 

Enter the name: Anisha

Enter the roll number: 21

Enter the mark: 78

Sample output:

Name: Anisha

Roll No: 21

Mark: 78

In [2]:
name = input('Enter the Name: ')
roll_no = int(input('Enter the roll number: '))
mark = int(input('Enter the mark: '))
print("Name: ", name)
print('Roll No; ', roll_no)
print('Mark: ', mark)

Enter the Name: Aflah
Enter the roll number: 2
Enter the mark: 63
Name:  Aflah
Roll No;  2
Mark:  63

Q2. Write a Python program to convert temperatures to and from Celsius Fahrenheit. 

[Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.] 

Sample input: 

Temperature in Fahrenheit =41 

Sample output: 

Temperature in Celsius =5

In [5]:
f = int(input('Temperatur in Fahrenheit = '))
c = (f-32)*5/9
print('Temperature in Celsius = ', c)

Temperatur in Fahrenheit = 88
Temperature in Celsius =  31.11111111111111

Q3. Write a Python program to accept two numbers from the user and display
its product.

In [7]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = a*b
print('product of given two number is', c)

Enter first number: 5
Enter second number: 5
product of given two number is 25

Q4. Write a Python program to accept a string “Learn Python by Developing a
Website” and display the string like “Learn ** Python ** by Developing a
** Website **”

In [24]:
inp = 'Learn Python by Developing a Website'
rep = inp.replace(' Python','**Python**').replace('Website','**Website**')
print(rep)

Learn**Python** by Developing a **Website**

Q5. Write a Python program to accept the radius of a circle and display its area.

In [9]:
import math
r = int(input('Enter radius: '))
area = math.pi*r**2
print('Area of Circle = ', area)

Enter radius: 4
Area of Circle =  50.26548245743669

Q6. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [15]:
num = [1,2,3,5,6]
print('Before Update List\n', num)
ins = int(input('Enter a number to insert: '))
pos = int(input('Enter position to be insert: '))
num.insert(pos, ins)
print('Updated List\n', num)

Before Update List
 [1, 2, 3, 5, 6]
Enter a number to insert: 4
Enter position to be insert: 3
Updated List
 [1, 2, 3, 4, 5, 6]

Q7. Write a program to rename a key city to a location in the following dictionary.

sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [17]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
print('Before renaming\n',sample_dict)
sample_dict['location'] = sample_dict.pop('city')
print('Dictionary after renaming\n',sample_dict)

Before renaming
 {'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
Dictionary after renaming
 {'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

Q8. Write a Python program to change Brad’s salary to 8500 in the following dictionary.

sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [18]:
sample_dict = { 
    'emp1': {'name': 'John', 'salary': 7500}, 
    'emp2': {'name': 'Emma', 'salary': 8000}, 
    'emp3': {'name': 'Brad', 'salary': 500} }
print('Before salary change\n', sample_dict)
sample_dict['emp3']['salary'] = 8500
print('After salary change\n', sample_dict)

Before salary change
 {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
After salary change
 {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Q9. Write a program to copy elements 43 and 54 from the following tuple into a new tuple. 

Given:

tuple1 = (10, 20, 43, 54, 56, 68)

In [20]:
tuple1 = (10, 20, 43, 54, 56, 68)
print(tuple1)
tuple2 = (tuple1[2], tuple1[3])
print(tuple2)

(10, 20, 43, 54, 56, 68)
(43, 54)

Q10. Counts the number of occurrences of item 50 from a tuple

tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [22]:
tup1 = (50, 10, 60, 70, 50,83,567,50,81)
print(tup1)
print('total occurrences of item 50 =',tup1.count(50))

(50, 10, 60, 70, 50, 83, 567, 50, 81)
total occurrences of item 50 = 3